<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cc_bank?useTimezone=true&amp;serverTimezone=America/Sao_Paulo&amp;useSSL=false</property>
    <property name="hibernate.connection.username">mysql</property>
    <property name="hibernate.connection.password">mysql</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.jdbc.use_get_generated_keys">true</property>
    <mapping class="domain.Cidade"/>
    <mapping class="domain.Conta"/>
    <mapping class="domain.Endereco"/>
    <mapping class="domain.Historico"/>
    <mapping class="domain.Pessoa"/>
    <mapping class="domain.Usuario"/>
  </session-factory>
</hibernate-configuration>
